@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-8">

    <div class="row">
        <div class="col-md-12">
            <h2>Input</h2>

        </div>

        <div class="col-md-8 ">

            <input type="text" name="input" id="input"  />

        </div>
        <div class="col-md-4 col-sm-4 text-right">
            <input type="button" name="submit" value="submit" id="submit" />

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>History</h2>

        </div>
        <div class="col-md-12">
            <table id="history">
                <tr>
                    <th class="col-md-6">Datetime</th>
                    <th class="col-md-2">Input</th>
                    <th class="col-md-2">Output</th>
                    <th class="col-md-2">Valid</th>
                </tr>

            </table>
        </div>
    </div>
</div>
